.body {
    width: 100vw;
    height: 100vh;
}
.menu {
    position: relative;
    margin-left: 50px;
}
.dropdown {
position: absolute;
left: 0;
min-width: 250px;
padding: 0;
display: none;
}
.dropdown ul {
border: 1px solid lightgray;
border-radius: 5%;
}

.dropdown ul li {
    list-style-type: none;
    margin-top: 10px;
    text-align: left;
    cursor: pointer;
}
a:hover {
    color: red;
    text-decoration: none;
}